@media only screen and (max-width: 768px) {
    .menue {
        position: absolute;
        background-color: white;
        width: 180px;
        height: 177px;
        top: 60px;
    }

    .menue ul {
        border: 1px solid;
    }
    .menue ul li {
        border-bottom: 2px solid black;
    }
    .menue2 {
        position: absolute;
        background-color: white;
        width: 163px;
        height: 177px;
        top: 52px;
    }
    .menue2 ul {
        border: 1px solid;
    }
    .menue2 ul li {
        border-bottom: 2px solid black;
    }
}
